body {
  background-color: black;
}

h1 {
  text-align: center;
}

#pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

#pokemon-comments {
  float: right;
}

.container {
  display: grid;
  grid-template-columns: auto 600px;
  grid-template-rows: 35% auto;
  height: auto;
  gap: 10px;
}

#pokemon-display {
  background: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto;
  padding-left: 15px;
  overflow-x: auto
}

#pokemon-description {
  font-style: italic;
  position: relative;
  top: -16px;
}

#display-image {
  grid-row-end: span 6;
  padding-top: 100px;
  width: 250px;
  height: 250px;
}

#review-form {
  /* text-align: center; */
}

#reviews {
  background-image: url("http://gran4u.xtgem.com/Pokedex.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto
}

#text-field {
  height: 252px;
  width: 244px;
  margin-left: 20px;
  margin-top: 23px

}

#submit-button {
  margin-top: 44px;
  margin-left: 200px;
  padding: 12px;
}

#cards {
  grid-column-end: span 2;
  background: red;
  overflow-y: auto;
  overflow-x: auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  padding-left: 15px;
  padding-right: 15px;
  height: 800px;
  gap: 80px;
  justify-content: center
}

#cards-header {
  grid-column-end: span 4;
  font-size: 100px;
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 8px;
  color: yellow;
  -webkit-text-stroke: 0.1rem blue;
}

.card {
  background: white;
  border-radius: 30px;
  border: 2px solid royalblue;
  font-size: 35%;
  font-family: "Futura Pro", sans-serif;
  text-align: center;
}

#pokeball {
  display: block;
  height: 150px;
  
}

#text-field {
  
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 15px 4px #000000;
}

.normal {
  background: #a8a878;
}
.fire {
  background: #f08030;
}
.water {
  background: #6890f0;
}
.electric {
  background: #f8d030;
}
.grass {
  background: #78c850;
}
.ice {
  background: #98d8d8;
}
.ground {
  background: #e0c068;
}
.flying {
  background: #a890f0;
}
.ghost {
  background: #705898;
}
.rock {
  background: #b8a038;
}
.fighting {
  background: #c03028;
}
.poison {
  background: #a040a0;
}
.psychic {
  background: #f85888;
}
.bug {
  background: #a8b820;
}
.dark {
  background: #705848;
}
.fighting {
  background: #c03028;
}
