body {
  background-color: pink;
}

h1 {
  text-align: center;
}

#pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

#pokemon-comments {
  float: right;
}
